<div class="tabs-manager" (click)="appendTab()">
  <i class="fas fa-cog"></i>
</div>
<div class="tabs">
  <div class="tab active" *ngIf="tabsService.isMobile">
    <div class="tab-side">
      <div class="tab-side-inner l"></div>
    </div>
    <div class="tab-inner">
      <i class="far fa-map-pin" *ngIf="level === 1 && tabs[idx].isDynamic"></i>
      <div class="tab-label">{{ tabs[idx].label }}</div>
      <i class="fal fa-times" *ngIf="tabs[idx].isDynamic" (click)="removeTab(idx)"></i>
    </div>
    <div class="tab-side">
      <div class="tab-side-inner r">
      </div>
    </div>
  </div>
  <div class="tabs-wrap" *ngIf="!tabsService.isMobile">
  <div class="tab" *ngFor="let tab of tabs; let i = index;" [ngClass]="{'active': i === idx}">
    <div class="tab-side">
      <div class="tab-side-inner l"></div>
    </div>
    <div class="tab-inner">
      <i class="far fa-map-pin" *ngIf="level === 1 && tab.isDynamic"></i>
      <div class="tab-label" (click)="activateTab(i)">{{ tab.label }}</div>
      <i class="fal fa-times" *ngIf="tab.isDynamic" (click)="removeTab(i)"></i>
    </div>
    <div class="tab-side">
      <div class="tab-side-inner r">
        <div class="tab-sep" *ngIf="i+1 !== idx"></div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="burger-con" *ngIf="excWidth || toggled || overflowCount > 0 || tabsService.isMobile" [ngClass]="{'active': toggled}">
  <div class="overflow-count" *ngIf="!toggled && overflowCount > 0">{{ overflowCount }}</div>
  <div class="burger" [ngClass]="{'active': toggled}" (click)="toggleMenu()">
    <div class="line t"></div>
    <div class="line m"></div>
    <div class="line b"></div>
  </div>
</div>
<div class="menu" *ngIf="excWidth || toggled || overflowCount > 0 || tabsService.isMobile" [ngClass]="{'active': toggled}">
  <div class="menu-item">{{ tabs[idx].label }}</div>
  <div class="menu-item" *ngFor="let tab of tabs; let i = index;" (click)="activateTab(i)" [ngClass]="{'hidden': i === idx}">
    {{ tab.label }}
    <i class="fal fa-times" *ngIf="tab.isDynamic" (click)="removeTab(i)"></i>
    <div class="item-sep"></div>
  </div>
</div>
