.container {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: auto;
}
.detail, .content {
    position: relative;
    padding: 0px 35px;
    height: auto;
}
.detail {
    width: 20%;
    border-right: 1px solid #d9d9d9;
}
.content {
    width: 80%;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 25px;
}