.app-con {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
app-tabs {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 35px;
    padding: 5px 0px 0px 5px;
    margin-bottom: 35px;
    background-color: #eee;
}
app-tabs::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    flex-direction: inline;
    position: relative;
    width: 100%;
    height: auto;
}
.detail, .content {
    position: relative;
    padding: 0px 35px;
    height: auto;
}
.detail {
    width: 25%;
    border-right: 1px solid #d9d9d9;
    font-size: 30px;
}
.content {
    width: 75%;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 25px;
}
@media(max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .detail, .content {
        width: 100%;
    }
    .content {
        padding: 35px;
    }
}
@media(max-width: 500px) {
    .content {
        padding: 35px 0px;
    }
    .content .fill {
        width: calc(100% - 70px);
        margin: auto;
    }
}